*{
	padding:0;
	margin:0;
	color:black;
	font-size: 14px;
}
.wrap{
	width:100%;
	background-color: #FFF;
}
.top{
	height: 80px;
	width:1000px;
	margin:0 auto;
}
.top li{
	float:left;
	list-style-type: none;


}
.top li a {
	display: block;
	width:100px;
	line-height:80px; 
	font-size: 20px;
	text-align: center;
	font-weight: bolder;
}
.top li a:link,.top li a:visited{
	text-decoration: none;
}
.top li a:hover,.top li a:active{
	background-color: #BD3847;
}
.top img{
	float:left;
}


.ad{
	margin: 10px auto;
	height: 310px;
	width: 1000px;
}


.news{
	width:1000px;
	margin: 0 auto;
}
.news_title{
	line-height: 30px;
	height: 30px;
}
.news_title_left{
	float:left;
	width:20%;
	text-align: center;
	background-color: #BD3847;
}
.news_title_right{
	float: right;
	width:80%;
	background-color: #3E3E3E;
}
.news_title p{
	color: #FFF;
}
.news_title_right p{
	margin-left: 30px;
}


.news_course{
	clear:left;
	margin: 20px auto;
	height: 150px;
}
.news_course_left,.news_course_right{
	display: block;
	float: left;
	width: 330px;
	text-align: center;
	list-style-type: none;
}
.news_course_mid{
	display: block;
	float: left;
	margin:0  5px;
	width: 330px;
	text-align: center;
	list-style-type: none;	
}
.news_course p{
	line-height: 20px;
	font-size: 16px;
	font-weight: bolder;
	border: 1px solid #E8E8E8;
}

.news_info{
	margin: 20px 0;
	height: 250px;
}
.news_info_title{
	height: 30px;
	background-color: #BC3846;
}
.news_info_title p{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #FFF;
	padding-left: 1em;
}
.news_center,.new_connect{
	width:328px;
	height: 250px;
	float: left;
	border: 1px solid #E8E8E8;
}
.news_hot{
	width:328px;
	height: 250px;
	float: left;
	margin:0 5px;
	border: 1px solid #E8E8E8;
}
.news_center li{
	height: 60px;
	margin: 10px 5px;
	list-style-type: none;
	border-bottom: 1px solid #E8E8E8;
}
.news_center li span{
	display: block;
	float: left;
	border-radius: 4px;
	line-height: 20px;
	padding-top: 5px;
	width:30px;
	height: 50px;
	background-color: #BC3847;
	text-align: center;
}
.news_center li h4,.news_center li p{
	margin:10px 0;
	padding-left: 40px;
	
}
.news_hot img{

	margin: 20px  20px 0 20px;
}
.news_hot p
{
	padding-top:3px;
	padding-left: 20px;
}
.new_connect p{
	padding-top:3px;
}



.footer{
	clear:left;
	height: 60px;
	width: 1000px;
	margin: 0 auto;
	background-color: #E7E7E7;
}
.footer p{
	font-size: 16px;
	padding-top: 25px;
	font-family: "微软雅黑";
	text-align: center;
}
